<div class="The-end">
    <div class="footer">
      <div class="logo1">
        <a href="#" class="logo">Hasnain.</a>
      </div>
      <div class="navbar1">
        <a href="/" class="active">Home</a>
      <a href="/personalities">Personalities</a>
      <a href="/cities">Cities</a>
      <a href="/tourist">Tourist</a>
      <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="ce">
      <div class="contact">
        <h4>Contact</h4>
        <p>+92-3371671167</p>
        <p>205 GOCHS,555150</p>
        <p>hasnain.hassan554@gmail.com</p>
      </div>

      <div class="email">
        <form action="#" method="post">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>

    <div class="social-media">
      <a href="https://www.twitter.com/login"
        ><img src="Images/twitter.png" alt="Linkedin"
      /></a>
      <a href="https://www.instagram.com/"
        ><img src="Images/instagram.png" alt="Instagram"
      /></a>
      <a href="https://github.com/"
        ><img src="Images/github.png" alt="Github"
      /></a>
      <a href="https://www.facebook.com/"
        ><img src="Images/facebook.png" alt="Facebook"
      /></a>
    </div>
  </div>
</div>