<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio| Personalities</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/personalities.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/resume.png" type="image/x-icon" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <!-- political Leaders -->
    <div class="wrapper">
      <div class="heading">
        <h3>Political Leaders</h3>
      </div>
      <div class="cards">
        <div class="card">
          <img
            src="Images/Muhammad Ali Jinnah.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Muhammad Ali Jinnah</h3>
          <p>
            "Quaid-e-Azam" Muhammad Ali Jinnah (December 25th 1876 - September
            11th 1948) was a British-Indian lawyer and politician, whom would
            later go on to become the founder of Pakistan in 1947.
          </p>
        </div>

        <div class="card">
          <img
            src="Images/Barack Obama.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Barack Obama</h3>
          <p>
            Barack Hussein Obama II (born August 4, 1961) is an American
            politician who served as the 44th president of the United States
            from 2009 to 2017. He was the first African-American president of
            the United States.
          </p>
        </div>

        <div class="card">
          <img
            src="Images/Theodore Roosevelt.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Theodore Roosevelt</h3>
          <p>
            Theodore Roosevelt was an American statesman, author, explorer,
            soldier, naturalist, and reformer who served as the 26th President
            of the United States from 1901 to 1909. As a leader of the
            Republican Party.
          </p>
        </div>
      </div>

      <!-- Showbiz Personalities -->

      <div class="heading">
        <h3>Showbiz Personalities</h3>
      </div>
      <div class="cards">
        <div class="card">
          <img
            src="Images/Abraham Lincoln.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Abraham Lincoln</h3>
          <p>
            Abraham Lincoln (February 12, 1809 – April 15, 1865) was an American
            lawyer and statesman who served as the 16th president of the United
            States from 1861 to 1865.In 1858 Lincoln ran against Stephen A.
            Douglas for Senator.
          </p>
        </div>

        <div class="card">
          <img
            src="Images/Adolf Hitler.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Adolf Hitler</h3>
          <p>
            Adolf Hitler (April 20, 1889 - April 30, 1945) was a German
            politician who was the leader of the Nazi Party, Chancellor of
            Germany from 1933 to 1945, and Führer of Nazi Germany from 1934 to
            1945.
          </p>
        </div>

        <div class="card">
          <img
            src="Images/Michael Jackson.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Michael Jackson</h3>
          <p>
            Michael Jackson (August 29, 1958 – June 25, 2009) was an American
            singer, dancer, and songwriter. He passed away from cardiac arrest
            caused by a propofol and benzodiazepine overdose on June 25, 2009.
          </p>
        </div>
      </div>

      <!-- Sports Personalities -->

      <div class="heading">
        <h3>Sports Personalities</h3>
      </div>
      <div class="cards">
        <div class="card">
          <img
            src="Images/Muhammad Ali.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Muhammad Ali</h3>
          <p>
            Muhammad Ali (January 17, 1942 – June 3, 2016) was an American
            professional boxer, activist, entertainer and poet.He is widely
            regarded as one of the most significant and celebrated sporting
            figures of the 20th century.
          </p>
        </div>

        <div class="card">
          <img
            src="Images/Ussain Bolt.jpg"
            alt="Denim Jeans"
            style="width: 100%"
          />
          <h3>Usain Bolt</h3>
          <p>
            Usain St Leo Bolt widely considered to be the greatest sprinter of
            all time.An eight-time Olympic gold medallist, Bolt is the only
            sprinter to win Olympic 100 m and 200 m titles at three consecutive
            Olympics (2008, 2012 and 2016).
          </p>
        </div>

        <div class="card">
          <img src="Images/Pele.jpg" alt="Denim Jeans" style="width: 100%" />
          <h3>Pele</h3>
          <p>
            Edson Arantes do Nascimento, known as "Pelé", was a Brazilian
            professional footballer who played as a forward. In 1999 he was
            named Athlete of the Century by the International Olympic Committee.
          </p>
        </div>
      </div>

      <!-- Footer -->
      <%- include("partials/footer.ejs") %>
  </body>
</html>
